body{
    display: grid;
    border: dashed tomato;
    height: 768px;
    width: 1024px;
    grid-template-areas:
    "part4 . part3 part2 part2 part1"
    "part4 part5 part5 part2 part2 part1"
    "part4 part5 part5 part6 . part1"
    "part7 part7 part7 part8 part8 part8";
}

div{
    border: dashed tomato;
}

.part1{
    grid-area:part1;
    height: 309px;
    width: 298px;
}

.part2{
    grid-area:part2;
    height: 202px;
    width: 202px;
}

.part3{
    grid-area:part3;
    height: 101px;
    width: 100px;
}

.part4{
    grid-area:part4;
    height: 309px;
    width: 300px;
}

.part5{
    grid-area:part5;
    height: 202px;
    width: 200px;
}

.part6{
    grid-area:part6;
    height: 101px;
    width: 100px;
}

.part7{
    grid-area:part7;
    height: 447px;
    width: 506px;
}

.part8{
    grid-area:part8;
    height: 447px;
    width: 506px;
}