div{
    border: 1px dashed lightblue;
}

.container{
    display: grid;
    height: 604px;
    width: 1004px;
    grid-template-areas:
    "p1 ic1"
    "ic2 ic2";
}

.part1+.inner-container{
    display: grid;
    height: 500px;
    width: 500px;
    grid-area: ic1;
    grid-template-areas:
    "p2 p3"
}

.inner-container+.inner-container{
    display: grid;
    height: 100px;
    width: 1002px;
    grid-area: ic2;
    grid-template-areas:
    "p4 p5 p6 p7";
}

.part1{
    grid-area: p1;
    height: 500px;
    width: 500px;
}

.part2{
    grid-area: p2;
    height: 198px;
    width: 248px;
}

.part3{
    grid-area: p3;
    height: 198px;
    width: 248px;
}

.part4{
    grid-area: p4;
    height: 98px;
    width: 249px;
}

.part5{
    grid-area:p5;
    height: 98px;
    width: 248px;
}

.part6{
    grid-area:p6;
    height: 98px;
    width: 249px;
}

.part7{
    grid-area:p7;
    height: 98px;
    width: 248px;
}