body{
    line-height: 100vh;
    text-align: center;
}

.login-form{
    text-align: center;
    border:2px dotted lightblue;
    border-radius: 10px;
}

.form-container{
    display: inline-block;
    text-align: center;
}

.form-row{
    line-height: 3.5vh;
}